<% turbo_frame = "daily-tasks-set-date-#{daily_task_set.date.to_s}" %>
<%= turbo_frame_tag turbo_frame do %>

<% tasks = daily_task_set.daily_tasks.index_by(&:daily_task_item_id) %>

<div class="w-fit flex divide-x border-t">

    <div class="w-24 px-2 py-1 text-sm"><%= daily_task_set.date.to_s %></div>

    <% daily_task_items.each do |i| %>
        <% task = tasks[i.id] %>
        <% if task.nil? %>
            <div class="w-12 sm:w-20"></div>
        <% elsif task.done %>
        <div class="w-12 sm:w-20 px-2 py-1">
            <%= link_to '✅', daily_task_path(task, done: false), data: { "turbo-method": :patch, turbo_frame: } %>
        </div>
        <% else %>
        <div class="w-12 sm:w-20 px-2 py-1">
            <%= link_to '⬜️', daily_task_path(task, done: true), data: { "turbo-method": :patch, turbo_frame: } %>
        </div>
        <% end %>
    <% end %> <!-- daily_task_items.each -->

</div> <!-- w-fit flex divide-x border-t -->

<% end %> <!-- turbo_frame_tag -->