<%= turbo_frame_tag "drawer" do %>
<div	class="fixed top-0 right-0 z-20 w-1/2 h-full bg-white border-l">
	<%= link_to '✕', drawer_path, data: { "turbo-method": :delete }, class: "text-lg ml-4 mt-4 block" %>
	<div class="p-8">
		<%= yield %>
	</div>
</div>

<div class="z-10 fixed top-0 left-0 w-dvw h-dvh">
	<%= link_to '✕', drawer_path, data: { "turbo-method": :delete }, class: "block h-full w-full" %>
</div>
<% end %>
