<%

def sidebar_link_to(link)
	path = link[:path]
	icon = link[:icon]
	text = link[:text]

	active = 'dark:bg-gray-800 dark:text-gray-50' if current_page?(path)
	tag.li class: "px-4 w-full overflow-hidden h-12 flex items-center #{active} sm:px-0" do
		link_to(path, class: 'flex items-center sm:px-5 space-x-3 rounded-md') do
		concat tag.span icon
		concat tag.span " #{text}", class: 'inline-block sm:hidden lg:inline-block'
		end
	end
end

links = [
	{ path: root_path, icon: "ðŸ–¥ï¸", text: "Dashboard" },
	{ path: log_path, icon: "ðŸ“…", text: "Logs" },
	{ path: tasks_path, icon: "âœ…", text: "Tasks" },
	{ path: words_path, icon: "ðŸ”¤", text: "Words" },
	{ path: books_path, icon: "ðŸ“š", text: "Books" },
	{ path: daily_task_sets_path, icon: "ðŸ’ª", text: "Daily Task" },
	{ path: entries_path, icon: "ðŸŒ", text: "RSS" },
	{ path: links_path, icon: "ðŸ”—", text: "Links" },
	{ path: weekly_review_path, icon: "ðŸ“", text: "Weekly Review" },
	{ path: authorization_tokens_path, icon: "ðŸ”", text: "Authorization Tokens" }
]

%>

<div class="dark:bg-gray-900 dark:text-gray-100">
	<div class="flex pl-2 sticky top-0 sm:pt-3 sm:px-0 sm:flex-col sm:h-full sm:w-16 lg:w-60" >
		<div class="inline-block text-2xl h-12 sm:hidden">
			<input type="checkbox" id="drawer-toggle" class="relative sr-only peer hidden">
			<label for="drawer-toggle" class="h-12 block flex items-center peer-checked:rotate-90 duration-500">
				<span class="text-lg">â–¶ï¸Ž</span>
			</label>
			<div
				class="fixed top-12 left-0 z-20 transition-all duration-500 transform -translate-x-full peer-checked:translate-x-0 dark:bg-gray-900 dark:text-gray-100"
			>
				<ul class="flex text-sm space-y-1 flex-col my-2">
					<% links.each do |l| %><%= sidebar_link_to l %><% end %>
				</ul>
			</div>

			<div class="z-10 fixed top-12 left-0 w-dvw h-dvh transition-all transform -translate-x-full peer-checked:translate-x-0">
				<label for="drawer-toggle" class="w-full h-full block"></label>
			</div>
		</div>

		<div class="flex space-x-4 items-center ml-2 sm:ml-0 sm:py-2 sm:px-5">
				<h2 class="text-lg font-semibold">
					<%= link_to root_path do %>
						<span>H</span><span class="inline-block sm:hidden lg:inline-block">ayate</span>
					<% end %>
				</h2>
		</div>

		<div class="divide-y dark:divide-gray-700 hidden sm:inline-block">
			<ul class="flex text-sm space-y-1 flex-col my-2">
				<% links.each do |l| %><%= sidebar_link_to l %><% end %>
			</ul>
		</div>

		<div class="flex items-center ml-auto mr-2 sm:ml-0 sm:p-2 sm:mt-auto">
			<%= link_to 'Sign Out', signout_path, data: { "turbo-method": :delete } %>
		</div>
	</div>
</div>
