<%= turbo_frame_tag "events-list-#{date.to_s}" do %>

<div class="flex items-center">
    <div class="w-11/12">
        <% events.each do |e| %>
        <div class="flex items-center">
            <p class="w-2/12"><%= task_category(e.category) %></p>
            <p class="w-10/12 line-clamp-1"><%= e.title %></p>
        </div>
        <% end %><!-- events.each -->
    </div>
    <div class="w-1/12">
        <%= link_to '+', new_event_path(date:), class: 'text-lg', data: { turbo_frame: "events-list-#{date.to_s}" } %>
    </div>
</div>

<% end %>
