<main class="container">
  <%= render 'shared/header', title: 'Books' %>

  <div>
    <%= link_to "New",
            new_book_path,
            class: "btn btn--primary" %>
    <table>
      <tr>
        <th>Title</th>
        <th>Category</th>
      </tr>
      <% @books.each do |b| %>
        <tr>
          <td><%= link_to b.title, book_path(b.id) %></td>
          <td><%= b.category %></td>
        </tr>
      <% end%>
    </table>
  </div>
</main>