<main class="container">
  <%= render 'shared/breadcrumb', parents: [{url: '/books', title: 'Books'}] %>
  <%= render 'shared/header', title: 'New Book' %>

  <%= render "form", book: @book %>
</main>