<main class="container">
  <div class="header">
    <h1>
      <%= @book.title %>
    </h1>
    <div>
      <p><%= @book.category %></p>
      <p><%= @book.chapters.map(&:title) %></p>
    </div>
  </div>
</main>