<%= form_for word_search do |f| %>
  <% if word_search.errors.any? %>
    <div>
      <%= word_search.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.search_field :word %>
  <%= f.submit %>
<% end %>