<main class="container">
  <%= render 'shared/breadcrumb', parents: [{url: words_path, title: 'Words'}] %>
  <%= render 'shared/header', title: 'Search English Word' %>
  <%= render "form", word_search: @word_search %>
</main>