<% content_for(:page_title) { 'Logs' } %>

<%= render 'shared/breadcrumb' %>
<div class="p-4">
  <%= render 'shared/header', title: "Logs" %>

  <div class="p-4 w-full lg:w-8/12 mx-auto">
        <div class="flex flex-wrap">
        <% @months.each do |month| %>
            <div class="w-full h-64 sm:w-1/3 sm:h-80 border">
                <p class="font-bold p-2 underline">
                  <%= link_to month.to_s, log_path(month.id) %>
                </p>
            </div>
        <% end %>
        </div>
  </div>
</div>